<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920416438534-tf6ar2ia3pbj2lks470bl9vv2hg5lker.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920416438534-tf6ar2ia3pbj2lks470bl9vv2hg5lker</string>
	<key>API_KEY</key>
	<string>AIzaSyCvDbPfcClOEb3bLCAs3yhde5ymJcI3ndY</string>
	<key>GCM_SENDER_ID</key>
	<string>920416438534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hindustanJob</string>
	<key>PROJECT_ID</key>
	<string>hindustaan-job-new</string>
	<key>STORAGE_BUCKET</key>
	<string>hindustaan-job-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920416438534:ios:d980a29d4d2d13e0fdf687</string>
</dict>
</plist>